body {
    background-color: #555;
    color: rgb(175, 141, 53);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    border-left: rgb(175, 141, 53) solid;
    border-right: rgb(175, 141, 53) solid;
    border-bottom: rgb(175, 141, 53) solid;
    border-width: 5px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.bodyfortable {
    background-color: #222;
    color: rgb(175, 141, 53);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: auto;
    border: none;
}

.table {
    margin-top: 100px;
    text-align: start;
    overflow: scroll;
    scrollbar-color: rebeccapurple green;
    overflow: auto;
    margin-bottom: 60px;
    max-height: 300px;
}

.table table {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.table th,
td {
    padding: 8px 30px;
    color: rgb(175, 141, 53);
    border: 2px solid rgb(175, 141, 53);
    width: 275px;
    height: 50px;
    text-align: center;
}

.table th:nth-child(1),
td:nth-child(1) {
    padding: 8px 30px;
    color: rgb(175, 141, 53);
    border: 2px solid rgb(175, 141, 53);
    border-left: 4px solid rgb(175, 141, 53);
    width: 170px;
    height: 50px;
    text-align: center;
}

.table th:nth-child(1) {
    border-top: 4px solid rgb(175, 141, 53);
    border-bottom: 4px solid rgb(175, 141, 53);
    background-color: #333;
}

.table th {
    text-transform: uppercase;
    font-weight: 500;
    position: sticky;
    z-index: 1;
    border-top: 4px solid rgb(175, 141, 53);
    border-bottom: 4px solid rgb(175, 141, 53);
    font-weight: 600;
    background-color: #333;
}

.table td {
    font-size: 16px;
    text-align: center;
}

.table td:nth-last-child(1) {
    border-right: 4px solid rgb(175, 141, 53);
}

.fa {
    color: gold;
}

.fa:active {
    color: aquamarine;
}

.fa:visited {
    color: gold;
}

.contact_id,
.user_id {
    border: 4px solid rgb(175, 141, 53);
}

.lock_2 {
    position: relative;
}

#lock_3 header {
    border-bottom: 5px rgb(175, 141, 53) solid;
    border-left: 5px rgb(175, 141, 53) solid;
    border-right: 5px rgb(175, 141, 53) solid;
}

#lock {
    top: 0;
    position: sticky;
    z-index: 5;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header {
    background-color: #333;
    color: #708090;
    border-top: rgb(175, 141, 53) solid;
    border-width: 5px;
}

#navbar {
    background-color: #333;
    border-bottom: rgb(175, 141, 53) solid;
    border-width: 5px;
    text-transform: uppercase;
}

#navbar ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: rgb(175, 141, 53);
    text-decoration: none;
    font-size: 16px;
    padding-right: 15px;
    font-weight: bold;
}

#navbar a:hover {
    color: blanchedalmond;
}

#showcase {
    padding: 0em;
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
    color: rgb(175, 141, 53);
    font-size: 20px;
    text-align: justify;
}

#sidebar {
    float: right;
    width: 30%;
    background: #333;
    color: rgb(175, 141, 53);
    padding: 10px;
    box-sizing: border-box;
    border: rgb(175, 141, 53) solid;
    border-width: 5px;
}

#sidebar p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

#sidebar ul {
    list-style: none;
    padding-left: 30px;
}

#sidebar h3 {
    padding-left: 80px;
    padding-top: 5px;
}

#sidebar ul li::before {
    content: '✓';
}

#main-footer {
    background: #333;
    color: rgb(175, 141, 53);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: rgb(175, 141, 53) solid;
    border-width: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

#logo {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    margin: auto;
    z-index: 1;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #555;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgb(175, 141, 53);
}


/* Caption text */

.text {
    color: #555;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: rgb(175, 141, 53);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: rgb(175, 141, 53);
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* CSS for Contact.html */

#contact_sections {
    margin: auto;
    padding: 10px;
}

#contact_sections h1 {
    text-align: center;
}

#sec1 {
    padding: 10px;
    margin-bottom: 25px;
}

#sec1 p {
    text-align: center;
    font-size: 20px;
}

#contact_sections form fieldset {
    margin-left: 25%;
    margin-right: 25%;
    background-color: #333;
    border: 5px solid;
    border-color: rgb(175, 141, 53);
    font-weight: bold;
}

#contact_sections form legend {
    text-align: center;
    padding: 5px;
    border: 5px solid;
    background-color: #333;
    text-transform: uppercase;
    font-size: 25px;
}

#LIT {
    margin: 2%;
    padding: 15px;
}

#contact_sections form label {
    margin-right: 20px;
    text-transform: uppercase;
}

#contact_sections form textarea {
    resize: none;
}

input[type=text],
select,
input[type=email],
input[type=tel],
input[type=password],
#contact_sections form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit],
#reset {
    width: 100%;
    background-color: #555;
    color: rgb(175, 141, 53);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

button[type=submit]:hover,
#reset:hover {
    background-color: whitesmoke;
}

#Login,
#SignUp {
    margin-top: 30px;
}

#display_section1 {
    padding: 20px;
    border-bottom: rgb(175, 141, 53) solid 2px;
}

@media(max-width:600px) {
    #main {
        width: 100%;
        float: none;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
    #contact_sections form fieldset {
        margin: 0;
    }
    #lock {
        position: relative;
    }
}


/* Scrollbar style for Chrome */


/* Track */

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track {
    background: #303030;
    border: solid 2px rgba(33, 33, 33, 0.5);
}


/* Thumb */

::-webkit-scrollbar-thumb {
    background: #404040;
}

::-webkit-scrollbar-thumb:hover {
    background: #505050;
}

::-webkit-scrollbar-thumb:active {
    background: #404040;
}

::-webkit-scrollbar-thumb:vertical {
    border-top: solid 2px rgba(33, 33, 33, 0.5);
    border-bottom: solid 2px rgba(33, 33, 33, 0.5);
}

::-webkit-scrollbar-thumb:horizontal {
    border-right: solid 2px rgba(33, 33, 33, 0.5);
    border-left: solid 2px rgba(33, 33, 33, 0.5);
}


/* Buttons */

::-webkit-scrollbar-button {
    border-style: solid;
    height: 16px;
    width: 16px;
}


/* Up */

::-webkit-scrollbar-button:vertical:decrement {
    border-width: 0 7px 14px 7px;
    border-color: transparent transparent silver transparent;
}

::-webkit-scrollbar-button:vertical:decrement:hover {
    border-color: transparent transparent silver transparent;
}


/* Down */

::-webkit-scrollbar-button:vertical:increment {
    border-width: 14px 7px 0 7px;
    border-color: silver transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:increment:hover {
    border-color: silver transparent transparent transparent;
}


/* Left */

::-webkit-scrollbar-button:horizontal:decrement {
    border-width: 7px 14px 7px 0;
    border-color: transparent silver transparent transparent;
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
    border-color: transparent silver transparent transparent;
}


/* Right */

::-webkit-scrollbar-button:horizontal:increment {
    border-width: 7px 0 7px 14px;
    border-color: transparent transparent transparent silver;
}

::-webkit-scrollbar-button:horizontal:increment:hover {
    border-color: transparent transparent transparent silver;
}

::-webkit-scrollbar-corner {
    background-color: #222;
}

::-webkit-scrollbar-thumb {
    background-color: slategray;
}

::-webkit-scrollbar-thumb:hover {
    background-color: slategray;
}

::-webkit-scrollbar-track-piece {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background-color: rgb(175, 141, 53);
}