body {
    background-color: #555;
    color: rgb(175, 141, 53);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    border-left: rgb(175, 141, 53) solid;
    border-right: rgb(175, 141, 53) solid;
    border-bottom: rgb(175, 141, 53) solid;
    border-width: 5px;
}

.lock_2 {
    position: relative;
}

#lock {
    top: 0;
    position: sticky;
    z-index: 5;
}


#main-header {
    background-color: #333;
    color: #708090;
    border-top: rgb(175, 141, 53) solid;
    border-width: 5px;
}


#main-footer {
    background: #333;
    color: rgb(175, 141, 53);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: rgb(175, 141, 53) solid;
    border-width: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

#logo {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    margin: auto;
    z-index: 1;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* CSS for Contact.html */

#contact_sections {
    margin: auto;
    padding: 10px;
}

#contact_sections h1 {
    text-align: center;
}

#sec1 {
    padding: 10px;
    margin-bottom: 25px;
}

#sec1 p {
    text-align: center;
    font-size: 20px;
}

#contact_sections form fieldset {
    margin-left: 25%;
    margin-right: 25%;
    background-color: #333;
    border: 5px solid;
    border-color: rgb(175, 141, 53);
    font-weight: bold;
}

#contact_sections form legend {
    text-align: center;
    padding: 5px;
    border: 5px solid;
    background-color: #333;
    text-transform: uppercase;
    font-size: 25px;
}

#LIT {
    margin: 2%;
    padding: 15px;
}

#contact_sections form label {
    margin-right: 20px;
    text-transform: uppercase;
}

#contact_sections form textarea {
    resize: none;
}

input[type=text],
select,
input[type=email],
input[type=tel],
input[type=password],
#contact_sections form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],
#reset {
    width: 100%;
    background-color: #555;
    color: rgb(175, 141, 53);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

input[type=submit]:hover,
#reset:hover {
    background-color: whitesmoke;
}

#Login,
#SignUp {
    margin-top: 30px;
}

@media(max-width:600px) {
    #main {
        width: 100%;
        float: none;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
    #contact_sections form fieldset {
        margin: 0;
    }
    #lock {
        position: relative;
    }
}